.container {
    flex: 1;
    display: flex;
    padding: 10px;
    background-image: url('../arq/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Courier New', monospace;
    color: white;
}

.aviso {

}

.container_metar, .container_notam {
    background-image: url('../arq/bgmet50.png'); /* Imagem de fundo com repetição */
    background-repeat: repeat; /* Faz a imagem se repetir */
    border-radius: 5px;
    padding: 20px;
    max-height: 500px; 
    overflow-y: auto; /* Adiciona rolagem caso o conteúdo ultrapasse o limite */
}

.container_metar {
    width: 60%;
    margin-right: 10px;
}

.metar_sbur {
    background: #2c6e99;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.adwrng {
    margin: 2px 2px 7px 2px;
    padding: 5px;
    font-size: 15px;
    font-weight: normal;
    color: #ffffff;
    background: #222;
    border-left: 5px solid #ff5e71;

border-radius: 5px 5px 5px 5px;
}

.container_notam {
    width: 40%;
    font-size: 17px;
}

.metar {
    padding: 10px 7px 0px 7px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    top: 10px;
    left: 253px;
    line-height: 100%;
    color: white;
    background-image: url("../arq/bgmet50.png");
    background-repeat: repeat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: "Courier New";
    font-size: 17px;
}

ul li {
    margin-bottom: 0px; 
    padding: 7px 0px 7px 0px;
}

ul li a {
    background: #2c6e99;
    padding: 1px 5px 0px 5px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    color: white;
    margin-left: 0px;
    margin-right: 11px;
    font-weight: normal;
}

ul li b {
    font-weight: normal;
    top: 10px;
    left: 120px;
    padding: 5px 5px 5px 5px;
}

ul li b:hover {
    background: #2c6e99;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
    cursor: default;
}

/* Estilo dos links e botões de NOTAM e Suplemento */
.api_nt a:link,
.api_sup a:link {
    text-decoration: none;
    background: #2c6e99;
    padding: 3px 7px 3px 7px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 38px;
    height: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Calibri";
}

.api_nt a:visited,
.api_sup a:visited {
    color: white;   
}

.texto-principal {
    color: white;
    text-decoration: none;
}

/* Estilo comum para todos os períodos */
.periodo {
    background: #212121;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
}

/* Estilo para o período ativo */
.periodo.ativo {
    color: #ff5e71;
}

/* Estilo para os períodos inativos */
.periodo.inativo {
    color: white;
}
